@font-face {
  font-family: "Museo";
  src: url("../resources/Museo-700.otf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Segoe UI", Arial, sans-serif;
  box-sizing: border-box;
}

#logo {
  width: 200px;
  position: absolute;
  right: 50px;
  bottom: 20px;
}

.header {
  width: 100%;
  height: 300px;
  background: url("../resources/header02.jpg");
  background-size: cover;
  background-position: top;
  padding-left:50px;
  padding-top: 50px;
  border-bottom: 1px solid #fff;
}

  .header h1 {
    font-family: "Museo";
    color: white;
    font-size: 72px;
    line-height: 1;
  }

.info {
  background-color: #fff;
  height: calc(100vh - 300px);
  /* padding-top: 24px; */
  padding:24px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
  .info .side {
    /* float: left; */
    /* width: calc(100%-830px/2 - 20px); */
    flex: 1, 0, content;
  }
  .info .middle {
    /* float: left; */
    width: 830px;
    /* margin: 0 20px; */
    flex: 0, 0, content;
  }
    .info h2 {
      font-family: "Museo";
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 24px;
      color: #E60028;
      border-bottom: 3px solid #E60028;
      display: block;
    }

    .info .score {
      display: block;
      border: none;
      width: 500px;
      height: 550px;
    }

    .info .middle #leaderboard {
      width: 830px;
    }

    .info .side table {
      border-collapse: collapse;
      font-size: 24px;
    }
      .info .side table tbody tr {
        padding-bottom: 1em;
        border-bottom: 1px solid #ccc;
      }
      .info .side table th {
        text-align: left;
        color: #E60028;
        padding-right: 1em;
      }
      .info .side table td {
        padding: 1em 0;
        padding-right: 1em;
      }
      .info .side table td:first-of-type, .info .side table td:last-of-type  {
        font-weight: bold;
      }
